# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = os.path.join('..','output_data','cities.csv')
df = pd.read_csv(cities)
df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,bluff,-46.6000,168.3333,13.86,61,0,10.13,NZ,1612405408
1,rikitea,-23.1203,-134.9692,25.53,72,1,6.21,PF,1612405648
2,hobart,-42.8794,147.3294,22.78,64,20,3.09,AU,1612405649
3,punta arenas,-53.1500,-70.9167,15.00,77,0,6.17,CL,1612405653
4,jamestown,42.0970,-79.2353,-5.56,93,1,4.63,US,1612405415

In [3]:
df.describe()

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Date
count,547.000000,547.000000,547.000000,547.000000,547.000000,547.000000,5.470000e+02
mean,22.366098,18.034444,8.674461,74.809872,50.839122,3.923473,1.612406e+09
std,32.828425,92.461773,17.822371,18.834260,40.214531,2.941834,2.893243e+02
min,-54.800000,-175.200000,-42.730000,12.000000,0.000000,0.210000,1.612405e+09
25%,-3.674300,-66.047300,-2.000000,66.500000,2.000000,1.540000,1.612406e+09
50%,27.629800,23.650000,15.000000,78.000000,46.000000,3.090000,1.612406e+09
75%,48.405600,102.272600,23.270000,88.000000,90.000000,5.305000,1.612406e+09
max,78.218600,179.316700,32.030000,100.000000,100.000000,17.000000,1.612407e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configure gmaps
gmaps.configure(api_key=gkey)

#Get coordinates for the map
coordinates = df[['Lat','Lng']]

#Get humidity values for the map
humidity = df['Humidity']

#Configure layout for the map
figure_layout = {
    'width':'1000px',
    'height':'600px',
    'border':'1px solid black',
    'padding':'1px',
    'margin':'0 auto 0 auto'
}

#Plot map with heatmap layer
f = gmaps.figure(layout=figure_layout)
f.add_layer(gmaps.heatmap_layer(coordinates,humidity, point_radius=10, max_intensity = 100))
f

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#My conditions are: Max_Temp in the range of 15 and 25 C, Wind speed <10m/s, Cloudiness <50%, Humidity <40%
hotel_df = df.loc[(df['Max_Temp']>=15) & (df['Max_Temp']<=25) & \
       (df['Wind_Speed']<=10) & (df['Cloudiness']<=50) & (df['Humidity']<=40)]
hotel_df.reset_index(inplace=True,drop=True)
hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,bure,10.7000,37.0667,15.06,35,26,2.08,ET,1612405768
1,mataura,-46.1927,168.8643,18.72,34,0,3.91,NZ,1612405802
2,riyadh,24.6877,46.7219,16.00,39,0,2.06,SA,1612405835
3,yaan,7.3833,8.5667,22.62,20,1,2.02,NG,1612405929
4,taoudenni,22.6783,-3.9836,19.07,24,0,2.88,ML,1612405973
5,kulpahar,25.3167,79.6500,17.26,31,11,2.07,IN,1612406109
6,gat,31.6100,34.7642,15.00,12,47,0.89,IL,1612406149
7,tecozautla,20.5333,-99.6333,22.00,17,1,4.12,MX,1612406159
8,abu zabad,12.3500,29.2500,22.68,21,29,6.06,SD,1612406215
9,tahoua,14.8888,5.2692,19.25,24,0,7.21,NE,1612406098
10,nishihara,26.1842,127.7558,21.00,39,40,3.09,JP,1612406238
11,ormara,25.2088,64.6357,18.51,31,0,9.79,PK,1612406246
12,goundam,16.4145,-3.6708,19.21,20,1,3.20,ML,1612406267
13,tezu,27.9167,96.1667,23.23,21,2,0.74,IN,1612406276
14,sihora,23.4833,80.1167,18.48,27,0,2.26,IN,1612406409
15,ashqelon,31.6693,34.5715,15.00,14,43,0.89,IL,1612406417
16,kidal,18.4411,1.4078,18.49,22,0,5.23,ML,1612406184
17,tucumcari,35.1717,-103.7250,17.00,34,1,6.69,US,1612406293
18,djibo,14.1022,-1.6306,21.61,18,15,4.15,BF,1612406534
19,am timan,11.0297,20.2827,21.44,21,0,3.70,TD,1612406536
20,sokoto,13.0609,5.2390,19.87,22,0,5.87,NG,1612406560
21,tessalit,20.1986,1.0114,18.62,23,0,6.70,ML,1612406505

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df['Hotel_Name'] = ''

#Get latitude and longitud for each city
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
radius = 5000
business_type = 'lodging'

params = {'key':gkey,'radius':radius,'type':business_type}

for i, row in hotel_df.iterrows():
  params['location'] = str(hotel_df.loc[i,'Lat'])+','+str(hotel_df.loc[i,'Lng'])
  response = requests.get(base_url,params=params).json()

  try:
    hotel_df.loc[i,'Hotel_Name']= response['results'][0]['name']    
  except:
    hotel_df.loc[i,'Hotel_Name']= np.NaN

hotel_df

<ipython-input-7-99b26f49ecac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel_Name'] = ''
/Users/carlospazos/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
0,bure,10.7000,37.0667,15.06,35,26,2.08,ET,1612405768,Holiday
1,mataura,-46.1927,168.8643,18.72,34,0,3.91,NZ,1612405802,Ellie's Villa
2,riyadh,24.6877,46.7219,16.00,39,0,2.06,SA,1612405835,InterContinental Riyadh
3,yaan,7.3833,8.5667,22.62,20,1,2.02,NG,1612405929,NaN
4,taoudenni,22.6783,-3.9836,19.07,24,0,2.88,ML,1612405973,NaN
5,kulpahar,25.3167,79.6500,17.26,31,11,2.07,IN,1612406109,Peetambra Marriage Garden
6,gat,31.6100,34.7642,15.00,12,47,0.89,IL,1612406149,OlusHome
7,tecozautla,20.5333,-99.6333,22.00,17,1,4.12,MX,1612406159,Hotel Tecozautla
8,abu zabad,12.3500,29.2500,22.68,21,29,6.06,SD,1612406215,محي الدين نوري
9,tahoua,14.8888,5.2692,19.25,24,0,7.21,NE,1612406098,Bungalows Guesthouse
10,nishihara,26.1842,127.7558,21.00,39,40,3.09,JP,1612406238,Minshuku Agaihama
11,ormara,25.2088,64.6357,18.51,31,0,9.79,PK,1612406246,Crystal Beach and Camping Resort Ormara
12,goundam,16.4145,-3.6708,19.21,20,1,3.20,ML,1612406267,NaN
13,tezu,27.9167,96.1667,23.23,21,2,0.74,IN,1612406276,Circuit House
14,sihora,23.4833,80.1167,18.48,27,0,2.26,IN,1612406409,Hotel Yash Raj Sihora
15,ashqelon,31.6693,34.5715,15.00,14,43,0.89,IL,1612406417,Leonardo Ashkelon
16,kidal,18.4411,1.4078,18.49,22,0,5.23,ML,1612406184,NaN
17,tucumcari,35.1717,-103.7250,17.00,34,1,6.69,US,1612406293,Holiday Inn Express & Suites Tucumcari
18,djibo,14.1022,-1.6306,21.61,18,15,4.15,BF,1612406534,Centre Des Ressources DPENA
19,am timan,11.0297,20.2827,21.44,21,0,3.70,TD,1612406536,Palais du chef Canton Salamt
20,sokoto,13.0609,5.2390,19.87,22,0,5.87,NG,1612406560,Grand Ibro Hotel
21,tessalit,20.1986,1.0114,18.62,23,0,6.70,ML,1612406505,NaN

In [8]:
#Remove locations where a hotel was not found
clean_hotel_df = hotel_df.dropna()

In [9]:
clean_hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
0,bure,10.7000,37.0667,15.06,35,26,2.08,ET,1612405768,Holiday
1,mataura,-46.1927,168.8643,18.72,34,0,3.91,NZ,1612405802,Ellie's Villa
2,riyadh,24.6877,46.7219,16.00,39,0,2.06,SA,1612405835,InterContinental Riyadh
5,kulpahar,25.3167,79.6500,17.26,31,11,2.07,IN,1612406109,Peetambra Marriage Garden
6,gat,31.6100,34.7642,15.00,12,47,0.89,IL,1612406149,OlusHome
7,tecozautla,20.5333,-99.6333,22.00,17,1,4.12,MX,1612406159,Hotel Tecozautla
8,abu zabad,12.3500,29.2500,22.68,21,29,6.06,SD,1612406215,محي الدين نوري
9,tahoua,14.8888,5.2692,19.25,24,0,7.21,NE,1612406098,Bungalows Guesthouse
10,nishihara,26.1842,127.7558,21.00,39,40,3.09,JP,1612406238,Minshuku Agaihama
11,ormara,25.2088,64.6357,18.51,31,0,9.79,PK,1612406246,Crystal Beach and Camping Resort Ormara
13,tezu,27.9167,96.1667,23.23,21,2,0.74,IN,1612406276,Circuit House
14,sihora,23.4833,80.1167,18.48,27,0,2.26,IN,1612406409,Hotel Yash Raj Sihora
15,ashqelon,31.6693,34.5715,15.00,14,43,0.89,IL,1612406417,Leonardo Ashkelon
17,tucumcari,35.1717,-103.7250,17.00,34,1,6.69,US,1612406293,Holiday Inn Express & Suites Tucumcari
18,djibo,14.1022,-1.6306,21.61,18,15,4.15,BF,1612406534,Centre Des Ressources DPENA
19,am timan,11.0297,20.2827,21.44,21,0,3.70,TD,1612406536,Palais du chef Canton Salamt
20,sokoto,13.0609,5.2390,19.87,22,0,5.87,NG,1612406560,Grand Ibro Hotel

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
locations = clean_hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
f.add_layer(gmaps.marker_layer(locations,info_box_content=hotel_info))

# Display figure
f

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…